<div id="file-picker" class="padded">

<form method="POST" action="/rekog">
    <label>Image to be analysed:</label>
    <input class="field" id="filename" type="file" name="filename" accept=".png,.jpg,.jpeg" required>
    <input type="submit" value="Rekognize">
</form>
</div>


